{:aliases {:repl {:main-opts  ["-m" "cljdev.repl"]}}
 :paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.0"}
        com.bhauman/rebel-readline {:mvn/version "0.1.4"}
        nrepl/nrepl {:mvn/version "0.7.0"}
        cider/cider-nrepl {:mvn/version "0.24.0"}
        org.clojure/tools.namespace {:mvn/version "0.2.11"}}}
